<a href="https://colab.research.google.com/github/Sneha-priya-A-s/Python-ICT/blob/main/Practice_Problem_Day02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a program to find sum of all elements in a list of integers.

In [2]:
#question no:1
lst = [10, 20, 30, 40, 50]
sum_of_elements = sum(lst)
print("Sum of all elements in the list:", sum_of_elements)

Sum of all elements in the list: 150

2. Input a sentence as a string.

a) Print its length

b) Print the first half of string

In [3]:
sentence = input("Enter a sentence: ")
length = len(sentence)
print("Length of the sentence:", length)
half = sentence[:length//2]
print("First half of the sentence:", half)

Enter a sentence: Snehapriya
Length of the sentence: 10
First half of the sentence: Sneha

3. Write a program to enter a tuple of integers as
(78,45,32,19,82,77,40,39). Change the third value in the tuple to
100

In [4]:
tuple1 = (78, 45, 32, 19, 82, 77, 40, 39)
list1 = list(tuple1)
list1[2] = 100
tuple2 = tuple(list1)
print("Modified tuple:",tuple2)

Modified tuple: (78, 45, 100, 19, 82, 77, 40, 39)

4.Consider a list listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
(a) Delete the first occurrence of 32
(b) Delete all occurrences of 40
(c) Delete the value at index=5
(d) Modify the value at index=9 as 300
(e) Add 200 at index=2
(f) Print the final list with its length, maximum value
and sum of all elements

In [54]:
#(a) Delete the first occurrence of 32
lst1 = [19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
lst1.remove(32)
print(lst1)

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]

In [55]:
#(b) Delete all occurrences of 40
while 40 in lst1:
    lst1.remove(40)
print(lst1)

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77]

In [56]:
#(c) Delete the value at index=5
del lst1[5]
print(lst1)

[19, 10, 55, 31, 32, 29, 10, 65, 77]

In [57]:
#(d) Modify the value at index=9 as 300
lst1.append(300)                          #list assignment index out of range when working with the list after step c
print(lst1)

[19, 10, 55, 31, 32, 29, 10, 65, 77, 300]

In [58]:
# (e) Add 200 at index=2
lst1.insert(2, 200)
print(lst1)

[19, 10, 200, 55, 31, 32, 29, 10, 65, 77, 300]

In [75]:
#(f)
print("Final list:", lst1)
print("Length of the list:", len(lst1))
print("Maximum value in the list:", max(lst1))
print("Sum of all elements in the list:", sum(lst1))

Final list: [19, 10, 200, 55, 31, 32, 29, 10, 65, 77, 300]
Length of the list: 11
Maximum value in the list: 300
Sum of all elements in the list: 828

5.Consider a string ”The day has been long”.
(a) Delete the value at index =4
(b) Print the string 4 times in a single line with space
between each repetition
(c) Print the string 3 times in a new line each time
(d) Modify the string at index 7 as ’A’
(e) Print the string from index 4 to 15
(f) Print the final string with its length

In [62]:
str1 = "The day has been long"
# (a) Delete the value at index = 4
str1 = str1[:4] + str1[5:]
print(str1)

The ay has been long

In [63]:
# (b) Print the string 4 times in a single line with space between each repetition
print((str1 + " ") * 4)

The ay has been long The ay has been long The ay has been long The ay has been long

In [70]:
#(c) Print the string 3 times in a new line each time
print(str1 + "\n" + str1 + "\n" + str1)

The ay has been long
The ay has been long
The ay has been long

In [72]:
#(d) Modify the string at index 7 as ’A’
str1 = str1[:7] + 'A' + str1[8:]
print(str1)

The ay Aas been long

In [73]:
#(e) Print the string from index 4 to 15
print(str1[4:16])

ay Aas been

In [74]:
#(f) Print the final string with its length
print("Final string:", str1)
print("Length of the string:", len(str1))

Final string: The ay Aas been long
Length of the string: 20